.homeBg{
    /*background-color: rgba(234,227,250,1);*/
    border: 2px solid red;
}
.homeImg{
    height: 500px;
    /*background-color: rgba(44,40,46,1);*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: -200;

}
.homeImg img{
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.95;    
}

.homeLeft{
    background-color: rgba(44,40,46,0.9);
    width: 30vw;
    padding: 25px;
    height: 500px;
}

